/* style.css */

.starcolor {
  margin-left: 1px;
  color: #f02a2a;
}

/* Page background */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 50px;
}

/* Header style */
header {
  background-color: #f0e7e7;
  text-align: center;
  margin-top: -70px;
}

/* Footer style */
footer {
  background-color: #f0e7e7;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* for 

/* Headings */
h1,
h2 {
  color: #1c2732;
  font-family: Georgia, serif;
}

/* Labels and inputs */
label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  width: 300px;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}
