/* Here are some starter styles
You can edit these or replace them entirely 
It's showing you a common way to organise CSS 
And includes solutions to common problems 
As well as useful links to learn more */

/* ====== Design Palette ======
 This is our "design palette".
 It sets out the colours, fonts, styles etc to be used in this design 
 At work, a designer will give these to you based on the corporate brand, but while you are learning
 You can design it yourself if you like
 Inspect the starter design with Devtools
 Click on the colour swatches to see what is happening
 I've put some useful CSS you won't have learned yet
 For you to explore and play with if you are interested
 https://web.dev/articles/min-max-clamp
 https://scrimba.com/learn-css-variables-c026
====== Design Palette ====== */
:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}

/* ====== Base Elementtts ====== */
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: color-mix(in oklab, var(--paper), black 10%);
}

/* ====== Site Layout ====== */
header {
  background-color: color-mix(in oklab, var(--paper), black 5%);
  padding: var(--space);
  text-align: center;
}

main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
  padding: 0 var(--space);
}

footer {
  background-color: var(--ink);
  color: var(--paper);
  padding: var(--space);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ====== Articles Grid Layout ===== */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  > *:first-child {
    grid-column: span 2;
  }
}

/* ====== Article Layout ====== */
article {
  border: var(--line);
  padding: var(--space);
  background-color: color-mix(in oklab, var(--paper), black 2%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

article h2 {
  margin-top: 0;
}

article p {
  margin-bottom: var(--space);
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  article {
    grid-column: span 1;
  }
}
