

body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dqq;
}
header {
  text-align: center;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

p {
  font-size: 0.9em;
  margin-bottom: 30px;
}

.article1-img {
  width: 100%;
  border-radius: 10px;
}

article:first-child {
  border-radius: 10px;
  max-width: 1300px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.bottom-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.articleimg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card {
  flex: 1 1 300px;
  max-width: 750px;
}

article a {
  border: none;
  padding: 16px 22px;
  text-decoration: none;
  border-radius: 12px;
  background: linear-gradient(to bottom, #add8e6, #ffffff);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #090009;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  margin-top: 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

article a:hover {
  transform: scale(1.1);
  background: #ceb6b6;
  color: #fffffff2;
}
article a:active {
  transform: scale(0.95);
  background: #444;
  color: #ddd;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  text-shadow: 1px 1px 2px grey;
}
